* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #03139e;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #4a5568;
}

form input[type="text"], form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color:#03139e;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: #03139e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #03139e;
    color: white;
}

td {
    background-color: #fff;
    color: #333;
}

a {
    color: #03139e;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons a {
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
}

.action-buttons .edit {
    background-color: #4caf50;
    color: white;
}

.action-buttons .delete {
    background-color: #f44336;
    color: white;
}

.action-buttons a:hover {
    opacity: 0.8;
}

.add-client {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: #03139e;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.add-client:hover {
    background-color: #2aa13e;
}

@media (max-width: 600px) {
    form, table {
        width: 100%;
    }

    th, td {
        font-size: 0.9rem;
    }
}
