<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cliente</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1 th:text="${cliente.id != null} ? 'Editar Cliente' : 'Cadastrar Cliente'"></h1>

    <form th:action="@{/clientes/salvar}" th:object="${cliente}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="nome">Nome:</label>
        <input type="text" th:field="*{nome}" required/><br/>

        <label for="cpf">CPF:</label>
        <input type="text" th:field="*{cpf}" required/><br/>

        <label for="endereco">Endereço:</label>
        <input type="text" th:field="*{endereco}" required/><br/>

        <input type="submit" value="Salvar"/>
    </form>

    <a th:href="@{/clientes/listar}" class="add-client">Voltar para a lista de clientes</a>

</body>
</html>
