<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Lista de Clientes</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.endereco}"></td>
                <td>
                    <div class="action-buttons">
                        <a th:href="@{/clientes/editar/{id}(id=${cliente.id})}" class="edit">Editar</a>
                        <a th:href="@{/clientes/deletar/{id}(id=${cliente.id})}" class="delete">Deletar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/clientes/cadastrar}" class="add-client">Cadastrar Novo Cliente</a>

</body>
</html>
