<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pedidos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Lista de Pedidos</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Status</th>
                <th>Tipo de Contrato</th>
                <th>Duração do Contrato</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.id}"></td>
                <td th:text="${pedido.cliente.nome}"></td>
                <td th:text="${pedido.status}"></td>
                <td th:text="${pedido.tipoContrato}"></td>
                <td th:text="${pedido.duracaoContrato} + ' meses'"></td>
                <td>
                    <div class="action-buttons">
                        <a th:href="@{/pedidos/editar/{id}(id=${pedido.id})}" class="edit">Editar</a>
                        <a th:href="@{/pedidos/deletar/{id}(id=${pedido.id})}" class="delete">Deletar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/pedidos/cadastrar}" class="add-client">Cadastrar Novo Pedido</a>

</body>
</html>
